# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
Lab/Lab4/main/Debug/vc142.pdb
Lab/Lab4/main/.vs/main/v16/.suo
Lab/Lab4/main/.vs/main/v16/Browse.VC.db
Lab/Lab4/main/.vs/main/v16/ipch/AutoPCH/3287f13d1d4e4ac0/MAIN.ipch
Lab/Lab4/main/Debug/main.exe
Lab/Lab4/main/Debug/main.exe.recipe
Lab/Lab4/main/Debug/main.ilk
Lab/Lab4/main/Debug/main.log
Lab/Lab4/main/Debug/main.obj
Lab/Lab4/main/Debug/main.pdb
Lab/Lab4/main/Debug/main.tlog/CL.command.1.tlog
Lab/Lab4/main/Debug/main.tlog/CL.read.1.tlog
Lab/Lab4/main/Debug/main.tlog/CL.write.1.tlog
Lab/Lab4/main/Debug/main.tlog/link.command.1.tlog
Lab/Lab4/main/Debug/main.tlog/link.read.1.tlog
Lab/Lab4/main/Debug/main.tlog/link.write.1.tlog
Lab/Lab4/main/Debug/main.tlog/main.lastbuildstate
Lab/Lab4/main/Debug/main.vcxproj.FileListAbsolute.txt
Lab/Lab4/main/Debug/vc142.idb
Lab/Lab4/main/Debug/vc142.pdb
Lab/Lab4/main/main.sln
Lab/Lab4/main/main.vcxproj
Lab/Lab4/main/main.vcxproj.filters
Lab/Lab4/main/main.vcxproj.user
